[MASTER]
ignore=venv

[MESSAGES CONTROL]
disable=
    C0114,  # missing-module-docstring
    C0115,  # missing-class-docstring
    C0116,  # missing-function-docstring
    C0411,  # wrong-import-order
    C0103,  # invalid-name
    R0914,  # too-many-locals
    E501,   # line-too-long
    W0718   # broad-exception-caught
